
@{
    ViewBag.Title = "QrMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<section class="qr-section mt-5 pt-5">
    <div class="container text-center">
        <h2 class="pageHeading">Our Contactless QR Menu</h2>
        <p class="pageSubText">A perfect food and drink ordering tool for restaurants, cafes, bakeries, and pubs to provide a safer <br>and faster customer experience</p>
    </div>
</section>
<!-- QR Menu-->
<section class="onlineMenusection">
    <div class="container">
        <div class="row rawMargin">
            <div class="col-lg-5 text-center headingAnimation show-on-scroll">
                <img src="~/Content/frontend/img/qr-code-menu.svg" alt="logo" title="Image" class="inline-photo show-on-scroll" />
            </div>
            <div class="col-lg-7 mt-4 headingAnimation show-on-scroll text-left">
                <h3>The Easiest way to share your menu</h3>
                <p>
                    QR menu enhances the quality of your service without asking for a lot of time. It’s the easiest way to share the menu of
                    your restaurant with minimal communication. Your customers enter into your place, take their seats, and they’ll have the
                    menu in front of them in the form of a QR scanner. All they have to do is scan it on their mobile devices and order
                    their choices with a few taps. We create no fuss of the verbal ordering process that may result in wrong or missing
                    orders.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="onlineMenusection">
    <div class="container">
        <div class="row rawMargin">
            <div class="col-lg-7 mt-5 pt-5 headingAnimation show-on-scroll">
                <h3>Digital Menu for Safer and Faster Experience</h3>
                <p>
                    Shift your waiter’s focus towards providing your customers with the best service rather than investing their energy in
                    scrambling through tables taking orders. Automate the task of ordering with QR codes and reduce the possibility of
                    delayed orders. In times of COVID -19 pandemic, it’s necessary to provide a touchless dining experience to your
                    customers. Traditional menus may promote cross-contamination among the staff and the customers and increase the risk of
                    infection. QR code menu ensures a no-touch, safer, and contactless ordering experience. It keeps both your staff and
                    customers safe.
                </p>
            </div>
            <div class="col-lg-5 text-center headingAnimation show-on-scroll">
                <img src="~/Content/frontend/img/app-design.png" alt="logo" title="Image" class="inline-photo show-on-scroll" />
            </div>
        </div>
    </div>
</section>
<section class="onlineMenusection">
    <div class="container">
        <div class="row rawMargin">
            <div class="col-lg-6 pt-5 text-center headingAnimation show-on-scroll">
                <img src="~/Content/frontend/img/advance-payments.svg" alt="logo" title="Image" class="inline-photo show-on-scroll" />
            </div>
            <div class="col-lg-6 mt-4 headingAnimation show-on-scroll text-left">
                <h3>Take Advance Payments</h3>
                <p>
                    Don’t just allow customers to order their preferred choices in an easy and convenient way but also make payments in the
                    same manner. With the QR menu, your guests can select the items of their choice from the custom-design menu, add them to
                    the cart, and make the payment. You will receive the order after the payment is done. This allows the customers to know
                    and understand the billing process. It eliminates the chances of any feuds regarding the billing. Also, customers need
                    not wait for waiters or stand in long queues to make the payment.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Demo Section-->
<section class="container">
    <div class="demoSection headingAnimation show-on-scroll">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="pageHeading trialHeading">Request your Smart Menu Pad Demo Now</h2>
            </div>
            <div class="col-lg-5 text-center">
                <button class="trialButton mt-5" data-toggle="modal" data-target="#talkExpertModal">Start 15 days Free Trial</button>
            </div>
        </div>
    </div>
</section>

